@media print {

  body * {
    visibility: hidden;
  }

  #printArea,
  #printArea * {
    visibility: visible;
  }

  .noPrint {
      visibility: hidden;
      height: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
  }

  .table-responsive,
  .hide-scrollbar {
    overflow: visible !important;
    max-height: none !important;
    max-width: none !important;
  }

  
}