@media print {
    


  body * {
    visibility: hidden;
  }

  #printArea,
  #printArea * {
    visibility: visible;
  }

  .noPrint {
      visibility: hidden;
      height: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
  }
}